body {
    background-color: cadetblue;
    font-family: "Baskerville Old Face", sans-serif;
}

.container {
    width: 500px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.5rem;
}

.checkbox {
    margin-right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    color: darkseagreen;
}

.new_todo {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border: none;
    padding: 0.3rem 1rem;
    font-family: "Baskerville Old Face", sans-serif;

}

.submit, .clear{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border: none;
    padding: 0.3rem 1rem;
    background-color: darkseagreen;
    font-family: "Baskerville Old Face", sans-serif;
}

.clear {
    font-size: 1rem;
}
